.container{
  margin: 0 2rem;
  margin-top: 2rem;
}

.app-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #111;
  border-bottom: 1px solid #333;
  margin-top: 1rem;
  text-align: center;
  border-radius: 5px 5px 0 0 ;
  font-size: 18px;
  font-weight: 400;
  padding: 1rem 0;
}

table{
  width: 100%;
  background-color: #111;
}

.mat-paginator{
  background-color: #111;
  border-radius: 0 0 5px 5px;
}

.mat-raised-button{
  padding: 0 1rem;
  margin: 0 .5rem;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.mat-raised-button:hover{
  transform: scale(1.1);
}


