<div class="container">
  <mat-toolbar class="app-title">LISTA DE PRODUTOS CADASTRADOS</mat-toolbar>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome do Produto </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let element"> {{element.preco}} </td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
      </ng-container>

      <ng-container matColumnDef="qtd">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element"> {{element.qtd}} </td>
      </ng-container>

      <ng-container matColumnDef="dtCadastro">
        <th mat-header-cell *matHeaderCellDef> Data de Cadastro </th>
        <td mat-cell *matCellDef="let element"> {{element.dtCadastro | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell  *matHeaderCellDef > Deseja excluir? </th>
        <td mat-cell *matCellDef="let element" >
          <button (click)="excluir(element.id)" color="warn" mat-raised-button>Excluir</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
 
</div>

<ng-template #semRegistro>
  <h1 class="full-width main-div">Nenhum registro encontrado!</h1>
</ng-template>