
<div class="main-div">
  <mat-card class="center width50 container" *ngIf="cadastro" >
    
    <form autocomplete="off" novalidate [formGroup]="cadastro" (ngSubmit)="submit()" (ngReset)="reiniciarForm()">
      <mat-card-content >
        <div class="title">CADASTRAR PRODUTO</div>
        <cdb-input-text titulo="Nome do Produto *" controlName="nome" [formGroup]="cadastro"></cdb-input-text>
        <cdb-input-number titulo="Preço do Produto *" controlName="preco"  [formGroup]="cadastro"></cdb-input-number>
        <cdb-input-textarea titulo="Descrição *" controlName="descricao" [formGroup]="cadastro"></cdb-input-textarea>
        <cdb-input-number titulo="Quantidade *" controlName="qtd" [formGroup]="cadastro"></cdb-input-number>
        <cdb-input-date titulo="Data de Cadastro *" controlName="dtCadastro" [formGroup]="cadastro"></cdb-input-date>
        <cdb-input-select titulo="Tipo *" [opcoes]="tipo" controlName="tipo" [formGroup]="cadastro"></cdb-input-select>
      </mat-card-content>
      <mat-card-actions>
        <button type="reset" color="warn" mat-raised-button>Cancelar</button>
        <button type="submit" color="primary" mat-raised-button>Salvar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
