.primary {
  background-color: transparent;
  color: #fff;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}